@page
@model APTA.Pages.Speakers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Speakers</h1>

<p>
    <a asp-page="Create">Create a Speaker</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].SpeechTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].Conference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Speaker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeechTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conference.ConferenceID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpeakerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpeakerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpeakerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
